In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Image

In [42]:
CO2_df=pd.read_csv("ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt", header = None, skiprows = 72,
delim_whitespace = True, usecols = [0,1,3,4], names = ['Year', 'Month', 'Measured Average +', 'Interpolated Average'], na_values = -1)

In [32]:
CO2_df.head()

   Year  Month  Measured Average +  Interpolated Average
0  1958      3              315.71                315.71
1  1958      4              317.45                317.45
2  1958      5              317.50                317.50
3  1958      6              -99.99                317.10
4  1958      7              315.86                315.86

In [44]:
CO2_df.loc[CO2_df['Measured Average +'] == -99.99, 'Measured Average +'] = CO2_df.loc[:, 'Year']
CO2_df.head()

   Year  Month  Measured Average +  Interpolated Average
0  1958      3              315.71                315.71
1  1958      4              317.45                317.45
2  1958      5              317.50                317.50
3  1958      6             1958.00                317.10
4  1958      7              315.86                315.86

In [40]:
CO2_df.loc[CO2_df['Measured Average +'] == -99.99, 'Measured Average +'] = CO2_df.loc[:, 'Interpolated Average']
CO2_df.head()

   Year  Month  Measured Average +  Interpolated Average
0  1958      3              315.71                315.71
1  1958      4              317.45                317.45
2  1958      5              317.50                317.50
3  1958      6              317.10                317.10
4  1958      7              315.86                315.86

In [45]:
# make a plot
new_fig = plt.figure(figsize=(10,10))
ax = new_fig.add_subplot(111)
ax.set_title('CO2 Index by Month (Dots) and Yearly Average (Line)')
ax.set_xlimit(1980,2020)
ax.set_ylimit(300,420)

# Monthly data


ax.plot()

AttributeError: module 'matplotlib.pyplot' has no attribute 'fig'