In [1]:
import pandas as pd

In [2]:
suicide_df = pd.read_csv('suicides.csv')

In [3]:
suicide_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [7]:
suicide_df[suicide_df.country.startswith('U')]

AttributeError: 'Series' object has no attribute 'startswith'

In [14]:
temp_series = suicide_df.country.apply(lambda x: x if x.startswith('U') else False)
unwanted_indicies = temp_series[temp_series == False].index
suicide_df.drop(unwanted_indicies).country.unique()

array(['Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

In [18]:
US_suicide_df = suicide_df.loc[suicide_df.country == 'United States']

In [23]:
US_suicide_df.groupby('age').sum()['suicides_no']

age
15-24 years    141679
25-34 years    182047
35-54 years    380917
5-14 years       8923
55-74 years    224770
75+ years       95677
Name: suicides_no, dtype: int64

In [24]:
US_suicide_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372 entries, 26848 to 27219
Data columns (total 12 columns):
country               372 non-null object
year                  372 non-null int64
sex                   372 non-null object
age                   372 non-null object
suicides_no           372 non-null int64
population            372 non-null int64
suicides/100k pop     372 non-null float64
country-year          372 non-null object
HDI for year          120 non-null float64
 gdp_for_year ($)     372 non-null object
gdp_per_capita ($)    372 non-null int64
generation            372 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 37.8+ KB

In [27]:
US_suicide_df.age.astype('category', copy=False)
#US_suicide_df.info()

AttributeError: 'Series' object has no attribute 'info'