In [20]:
import pandas as pd

In [44]:
suicides_df = pd.read_csv('suicides.csv')

In [45]:
suicides_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [49]:
suicides_df.groupby(['country', 'generation', 'year']).first()

                                    sex          age  suicides_no  population  \
country    generation      year
Albania    Boomers         1987    male  25-34 years            9      274300
                           1988  female  25-34 years            5      262400
                           1989    male  25-34 years           18      283600
                           1992    male  35-54 years           12      343800
                           1993    male  25-34 years            9      230100
                           1994    male  25-34 years            6      231400
                           1995    male  35-54 years           14      375900
                           1996    male  35-54 years           12      379600
                           1997    male  35-54 years           30      380800
                           1998    male  35-54 years           29      388200
                           1999    male  35-54 years           31      391100
                           2000  female  35-54 years            5      332200
                           2001    male  35-54 years           34      378826
                           2002    male  35-54 years           35      382139
                           2003    male  35-54 years           28      386196
                           2004    male  35-54 years           39      391767
                           2005  female  35-54 years            0      386513
                           2006  female  35-54 years            0      388746
                           2007    male  35-54 years           29      378626
                           2008    male  35-54 years           37      377119
                           2009  female  35-54 years            0      394286
           G.I. Generation 1987    male    75+ years            1       21800
                           1988  female    75+ years            2       36400
                           1989    male    75+ years            2       22500
                           1992  female    75+ years            0       38700
                           1993    male    75+ years            1       24200
                           1994    male    75+ years            2       24600
                           1995  female    75+ years            2       40800
                           1996    male    75+ years            2       25400
                           1997    male    75+ years            3       25400
...                                 ...          ...          ...         ...
Uzbekistan Millenials      2004    male  15-24 years          237     2836903
                           2005    male  15-24 years          184     2907415
                           2009    male  15-24 years          242     3176656
                           2010    male  15-24 years          246     3208299
                           2011    male  25-34 years          271     2457050
                           2012    male  25-34 years          290     2548472
                           2013    male  25-34 years          328     2644648
                           2014    male  25-34 years          318     2739150
           Silent          1990    male  35-54 years          343     1491700
                           1991    male  55-74 years          119      668000
                           1992    male  55-74 years          105      701800
                           1993    male  55-74 years          111      730700
                           1994    male  55-74 years          151      786400
                           1995    male  55-74 years          171      811900
                           1996    male  55-74 years          195      819300
                           1997    male  55-74 years          165      832200
                           1998    male  55-74 years          160      832800
                           1999    male  55-74 years          123      818124
                           2000    male  55-74 years          153      802122
                           2001    male  55-74 years          130      792247
                           2002    male    75+ years           17      123916
                           2003    male  55-74 years          100      790059
                           2004    male  55-74 years           84      792630
                           2005    male  55-74 years           94      808793
                           2009    male  55-74 years           81      985960
                           2010    male  55-74 years          102     1036963
                           2011    male    75+ years           10      204956
                           2012    male    75+ years           15      213713
                           2013    male    75+ years           13      221002
                           2014    male    75+ years           17      224995

                                 suicides/100k pop    country-year  \
country    generation      year
Albania    Boomers         1987               3.28     Albania1987
                           1988               1.91     Albania1988
                           1989               6.35     Albania1989
                           1992               3.49     Albania1992
                           1993               3.91     Albania1993
                           1994               2.59     Albania1994
                           1995               3.72     Albania1995
                           1996               3.16     Albania1996
                           1997               7.88     Albania1997
                           1998               7.47     Albania1998
                           1999               7.93     Albania1999
                           2000               1.51     Albania2000
                           2001               8.98     Albania2001
                           2002               9.16     Albania2002
                           2003               7.25     Albania2003
                           2004               9.95     Albania2004
                           2005               0.00     Albania2005
                           2006               0.00     Albania2006
                           2007               7.66     Albania2007
                           2008               9.81     Albania2008
                           2009               0.00     Albania2009
           G.I. Generation 1987               4.59     Albania1987
                           1988               5.49     Albania1988
                           1989               8.89     Albania1989
                           1992               0.00     Albania1992
                           1993               4.13     Albania1993
                           1994               8.13     Albania1994
                           1995               4.90     Albania1995
                           1996               7.87     Albania1996
                           1997              11.81     Albania1997
...                                            ...             ...
Uzbekistan Millenials      2004               8.35  Uzbekistan2004
                           2005               6.33  Uzbekistan2005
                           2009               7.62  Uzbekistan2009
                           2010               7.67  Uzbekistan2010
                           2011              11.03  Uzbekistan2011
                           2012              11.38  Uzbekistan2012
                           2013              12.40  Uzbekistan2013
                           2014              11.61  Uzbekistan2014
           Silent          1990              22.99  Uzbekistan1990
                           1991              17.81  Uzbekistan1991
                           1992              14.96  Uzbekistan1992
                           1993              15.19  Uzbekistan1993
                           1994              19.20  Uzbekistan1994
                           1995              21.06  Uzbekistan1995
                           1996              23.80  Uzbekistan1996
                           1997              19.83  Uzbekistan1997
                           1998              19.21  Uzbekistan1998
                           1999              15.03  Uzbekistan1999
                           2000              19.07  Uzbekistan2000
                           2001              16.41  Uzbekistan2001
                           2002              13.72  Uzbekistan2002
                           2003              12.66  Uzbekistan2003
                           2004              10.60  Uzbekistan2004
                           2005              11.62  Uzbekistan2005
                           2009               8.22  Uzbekistan2009
                           2010               9.84  Uzbekistan2010
                           2011               4.88  Uzbekistan2011
                           2012               7.02  Uzbekistan2012
                           2013               5.88  Uzbekistan2013
                           2014               7.56  Uzbekistan2014

                                 HDI for year  gdp_for_year ($)   \
country    generation      year
Albania    Boomers         1987           NaN      2,156,624,900
                           1988           NaN      2,126,000,000
                           1989           NaN      2,335,124,988
                           1992           NaN        709,452,584
                           1993           NaN      1,228,071,038
                           1994           NaN      1,985,673,798
                           1995         0.619      2,424,499,009
                           1996           NaN      3,314,898,292
                           1997           NaN      2,359,903,108
                           1998           NaN      2,707,123,772
                           1999           NaN      3,414,760,915
                           2000         0.656      3,632,043,908
                           2001           NaN      4,060,758,804
                           2002           NaN      4,435,078,648
                           2003           NaN      5,746,945,913
                           2004           NaN      7,314,865,176
                           2005         0.695      8,158,548,717
                           2006           NaN      8,992,642,349
                           2007           NaN     10,701,011,897
                           2008           NaN     12,881,352,688
                           2009           NaN     12,044,212,904
           G.I. Generation 1987           NaN      2,156,624,900
                           1988           NaN      2,126,000,000
                           1989           NaN      2,335,124,988
                           1992           NaN        709,452,584
                           1993           NaN      1,228,071,038
                           1994           NaN      1,985,673,798
                           1995         0.619      2,424,499,009
                           1996           NaN      3,314,898,292
                           1997           NaN      2,359,903,108
...                                       ...                ...
Uzbekistan Millenials      2004           NaN     12,030,023,548
                           2005         0.625     14,307,509,839
                           2009           NaN     33,689,223,673
                           2010         0.655     39,332,770,929
                           2011         0.661     45,915,191,189
                           2012         0.668     51,821,573,338
                           2013         0.672     57,690,453,461
                           2014         0.675     63,067,077,179
           Silent          1990           NaN     13,360,607,918
                           1991           NaN     13,677,622,222
                           1992           NaN     12,941,297,376
                           1993           NaN     13,099,013,836
                           1994           NaN     12,899,156,991
                           1995           NaN     13,350,468,917
                           1996           NaN     13,948,892,216
                           1997           NaN     14,744,603,774
                           1998           NaN     14,988,971,211
                           1999           NaN     17,078,465,982
                           2000         0.594     13,760,374,488
                           2001           NaN     11,401,351,420
                           2002           NaN      9,687,951,055
                           2003           NaN     10,128,112,401
                           2004           NaN     12,030,023,548
                           2005         0.625     14,307,509,839
                           2009           NaN     33,689,223,673
                           2010         0.655     39,332,770,929
                           2011         0.661     45,915,191,189
                           2012         0.668     51,821,573,338
                           2013         0.672     57,690,453,461
                           2014         0.675     63,067,077,179

                                 gdp_per_capita ($)
country    generation      year
Albania    Boomers         1987                 796
                           1988                 769
                           1989                 833
                           1992                 251
                           1993                 437
                           1994                 697
                           1995                 835
                           1996                1127
                           1997                 793
                           1998                 899
                           1999                1127
                           2000                1299
                           2001                1451
                           2002                1573
                           2003                2021
                           2004                2544
                           2005                2931
                           2006                3235
                           2007                3863
                           2008                4672
                           2009                4387
           G.I. Generation 1987                 796
                           1988                 769
                           1989                 833
                           1992                 251
                           1993                 437
                           1994                 697
                           1995                 835
                           1996                1127
                           1997                 793
...                                             ...
Uzbekistan Millenials      2004                 516
                           2005                 606
                           2009                1332
                           2010                1533
                           2011                1767
                           2012                1964
                           2013                2150
                           2014                2309
           Silent          1990                 778
                           1991                 788
                           1992                 709
                           1993                 708
                           1994                 674
                           1995                 681
                           1996                 703
                           1997                 724
                           1998                 719
                           1999                 801
                           2000                 632
                           2001                 513
                           2002                 428
                           2003                 441
                           2004                 516
                           2005                 606
                           2009                1332
                           2010                1533
                           2011                1767
                           2012                1964
                           2013                2150
                           2014                2309

[10673 rows x 9 columns]

In [12]:
pd.get_dummies(suicides_df.groupby('country', axis = 1).age).head()

Empty DataFrame
Columns: []
Index: []