### Import ab_data.csv

1. Check that the treatment group and landing page columns are properly aligned. Deal with any samples that are not.
2. Perform an a/b test on the treatment group vs control group.
3. What is your hypothesis?
4. What is your alpha level?
5. What is the p-value?
6. What is the effect size?
7. Would you accept or reject your null hypothesis?

In [2]:
import pandas as pd

In [3]:
experiment_df = pd.read_csv('ab_data.csv')
experiment_df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [4]:
experiment_df.shape

(294478, 5)

In [9]:
experiment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
user_id         294478 non-null int64
timestamp       294478 non-null object
group           294478 non-null object
landing_page    294478 non-null object
converted       294478 non-null int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [23]:
experiment_df.groupby(['group', 'landing_page']).count()

                        user_id  timestamp  converted
group     landing_page
control   new_page         1928       1928       1928
          old_page       145274     145274     145274
treatment new_page       145311     145311     145311
          old_page         1965       1965       1965