In [1]:
import pandas as pd
import numpy as np

In [7]:
CO2_df=pd.read_csv("ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt", header = None, skiprows = 72,
delim_whitespace = True, usecols = [0,1,4,6], names = ['Year', 'Month', 'Interpolated Average', 'Day'], na_values = -1)

In [8]:
CO2_df.tail()

     Year  Month  Interpolated Average   Day
730  2019      1                410.83  27.0
731  2019      2                411.75  27.0
732  2019      3                411.97  28.0
733  2019      4                413.32  26.0
734  2019      5                414.66  28.0

In [9]:
cond_df = CO2_df.loc[:,['Year']]

   Year
0  1958
1  1958
2  1958
3  1958
4  1958

In [10]:
split_indicies_df = np.where(cond_df > 2010, True, False)

In [19]:
split_indicies_df[400]

array([False])