## We have 3 datasets in the cell_data folder involving cell phone usage. We need to combine them to find out which cell phone models have the most average data usage per month
***

### 1) Merge the user\_device and user\_usage tables together

#### Try using a left, right, and inner join (or merge) on the two tables, then check the differences in the resultant dataframe's shape. Why do you think you get each result? (Be sure to keep which dataframe is on the left and right consistent)
***

In [1]:
import pandas as pd

In [2]:
user_device = pd.read_csv('cell_Data/user_device.csv')

In [3]:
user_device.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [4]:
user_usage = pd.read_csv('cell_Data/user_usage.csv')

In [5]:
user_usage.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [31]:
inner_device_usage = pd.merge(user_device, 
                              user_usage, 
                              how='inner')

In [32]:
inner_device_usage.head()

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22787,12921,android,4.3,GT-I9505,1,21.97,4.82,1557.33
1,22788,28714,android,6.0,SM-G930F,1,1710.08,136.88,7267.55
2,22789,28714,android,6.0,SM-G930F,1,1710.08,136.88,7267.55
3,22790,29592,android,5.1,D2303,1,94.46,35.17,519.12
4,22792,28217,android,5.1,SM-G361F,1,71.59,79.26,1557.33

In [33]:
outer_device_usage = pd.merge(user_device, 
                              user_usage, 
                              how='outer')

In [34]:
outer_device_usage.head()

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22782,26980.0,ios,10.2,"iPhone7,2",2.0,NaN,NaN,NaN
1,22783,29628.0,android,6.0,Nexus 5,3.0,NaN,NaN,NaN
2,22784,28473.0,android,5.1,SM-G903F,1.0,NaN,NaN,NaN
3,22785,15200.0,ios,10.2,"iPhone7,2",3.0,NaN,NaN,NaN
4,22786,28239.0,android,6.0,ONE E1003,1.0,NaN,NaN,NaN

In [15]:
outer_device_usage.loc[outer_device_usage.use_id==22787]

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
5,22787,12921.0,android,4.3,GT-I9505,1.0,21.97,4.82,1557.33

In [35]:
left_device_usage = pd.merge(user_device, 
                              user_usage, 
                              how='left')

In [36]:
left_device_usage.head()

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22782,26980,ios,10.2,"iPhone7,2",2,NaN,NaN,NaN
1,22783,29628,android,6.0,Nexus 5,3,NaN,NaN,NaN
2,22784,28473,android,5.1,SM-G903F,1,NaN,NaN,NaN
3,22785,15200,ios,10.2,"iPhone7,2",3,NaN,NaN,NaN
4,22786,28239,android,6.0,ONE E1003,1,NaN,NaN,NaN

In [37]:
right_device_usage = pd.merge(user_device, 
                              user_usage, 
                              how='right')

In [38]:
right_device_usage.head()

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22787,12921.0,android,4.3,GT-I9505,1.0,21.97,4.82,1557.33
1,22788,28714.0,android,6.0,SM-G930F,1.0,1710.08,136.88,7267.55
2,22789,28714.0,android,6.0,SM-G930F,1.0,1710.08,136.88,7267.55
3,22790,29592.0,android,5.1,D2303,1.0,94.46,35.17,519.12
4,22792,28217.0,android,5.1,SM-G361F,1.0,71.59,79.26,1557.33

In [39]:
inner_device_usage.shape

(159, 9)

In [40]:
outer_device_usage.shape

(353, 9)

In [41]:
left_device_usage.shape

(272, 9)

In [42]:
right_device_usage.shape

(240, 9)

In [43]:
user_device.shape

(272, 6)

In [44]:
user_usage.shape

(240, 4)

### 2) We want to analyze our user\_usage information (outgoing\_mins\_per\_month, outgoing\_sms\_per\_month, monthly\_mb) across each phone model ('Marketing Name' column in android\_devices.csv) and each brand ('Retail Branding' column in android\_devices.csv). Merge the dataframes appropriately to make this analysis possible. (Note: the 'device' column in user_device.csv has the same information as 'Model' in android\_devices.csv)

In [29]:
android_devices = pd.read_csv('cell_data/android_devices.csv')

In [30]:
android_devices.head()

  Retail Branding Marketing Name    Device                      Model
0             NaN            NaN    AD681H  Smartfren Andromax AD681H
1             NaN            NaN     FJL21                      FJL21
2             NaN            NaN       T31              Panasonic T31
3             NaN            NaN  hws7721g         MediaPad 7 Youth 2
4              3Q        OC1020A   OC1020A                    OC1020A

In [49]:
user_device.rename(columns={'device':'Model'}, inplace='True')

In [51]:
model_user_andriod_device = pd.merge(android_devices, user_device, on='Model')

In [52]:
model_user_andriod_device.head()

,Retail Branding,Marketing Name,Device,Model,use_id,user_id,platform,platform_version,use_type_id
0,HTC,Desire 510,htc_a11ul8x26,HTC Desire 510,22813,23415,android,4.4,1
1,HTC,Desire 510,htc_a11ul8x26,HTC Desire 510,22814,23415,android,4.4,1
2,HTC,Desire 510,htc_a11ul8x26,HTC Desire 510,22815,23415,android,4.4,1
3,HTC,Desire 510,htc_a11ul8x26,HTC Desire 510,22816,23415,android,4.4,1
4,HTC,Desire 510,htc_a11ul8x26,HTC Desire 510,22817,23415,android,4.4,1

### 3) Create 2 dataframes showing the following:

#### Dataframe 1) Index should be the brand, and your columns should show the mean of the following: outgoing\_mins\_per\_month, outgoing\_sms\_per\_month, and monthly\_mb. It should be sorted from high to low by monthly_mb.

##### Plot the monthly_mb information by brand


#### Dataframe 2) Index should be the phone model, and your columns should show the sum of the following: outgoing\_mins\_per\_month, outgoing\_sms\_per\_month, and monthly\_mb. It should be sorted from high to low by outgoing\_sms\_per\_month

##### Plot the outgoing\_sms\_per_month by phone model